
/*  font-family: Abel  */
@font-face {
    font-family: Abel;
    src: url("./fonts/Abel/Abel-Regular.afc1550a0b17.ttf");
}

/*  font-family: Anton  */
@font-face {
    font-family: Anton;
    src: url("./fonts/Anton/Anton-Regular.10c6818802ed.ttf");
}

/*  font-family: Josefin  */
@font-face {
    font-family: Josefin;
    src: url("./fonts/Josefin_Sans/JosefinSans-Regular.8e96daaaad17.ttf");
}

/*  font-family: Lexend  */
@font-face {
    font-family: Lexend;
    src: url("./fonts/Lexend_Deca/LexendDeca-Regular.d90b3bff9221.ttf");
}

/*  font-family: Livvic  */
@font-face {
    font-family: Livvic;
    src: url("./fonts/Livvic/Livvic-Regular.8e18de89d104.ttf");
}